.game-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.correct-ans-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.claim-reward-btn {
  margin-top: 2vmin;
  padding: 1vmin 4vmin;
  font-size: 3vmin;
  border-radius: 10px;
  border-color: #BCB500;
  background-color: #FFF967;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 8px;
}

.correctH {
  font-weight: 600;
  font-size: 2.5vmin;
  margin-top: 3vmin;
  margin-bottom: 0;
}

.why {
  width: 85%;
  font-weight: 500;
  font-size: 2.5vmin;
}

.next-q-btn {
  margin-top: 2vmin;
  padding: 1vmin 4vmin;
  font-size: 3vmin;
  border-radius: 10px;
  border-color: #BCB500;
  background-color: #FFF967;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 8px;
}