.category{
  border: 1px;
  border-radius: 25px; 
  margin: 20px;
  height: 125px;
  width: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}
.categoryList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 420px) {

  .category {
    width: 31vmin;
    height: 31vmin;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 8px;
  }

}