.category{
  border: 1px solid black;
  border-radius: 25px; 
  margin: 20px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.categoryList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}