.category{
  border: 1px;
  border-radius: 25px; 
  margin: 20px;
  height: 125px;
  width: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}
.categoryList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}