.profileHeader{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 30px;
  height: 50px;
}
.linkSection{
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  height: 50px;
}
.profilePic{
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  width: fit-content; 
}
.linkHeader{
  border: 1px solid black;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: none;
}
.linkHeader:hover{
  background-color: gray;
}

.stats{
  margin-left: 20px;
}
.stats>p{
  margin-left: 20px;
  margin-top: 0px;
}
.profileh3{
  margin-top: 0px;
  margin-bottom: 10px;
}