.answer-card {
  display: flex;
  background-color: #FFFFFF;
  width: 95%;
  min-height: 10vmin;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 2vmin;
  cursor: pointer;
}

.answer-card > p {
  padding: 0 5vmin;
}

.answer-card:hover {
  background-color: rgba(115, 110, 100, .5);
}

#correct {
  background-color: #A1F683;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 8px;
}

#incorrect {
  background-color: #FF655B;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 8px;
}